                    <a class="nav-link" asp-controller="Admin" asp-action="Categories">
                        <i class="bi bi-tags"></i> Kategoriler
                    </a>
                    <a class="nav-link" asp-controller="Coupon" asp-action="Index">
                        <i class="bi bi-ticket-perforated"></i> Kuponlar
                    </a>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="SupportTickets">
                            <i class="bi bi-headset"></i> Destek Talepleri
                        </a>
                    </li> 