@model int

<a class="nav-link" asp-controller="Cart" asp-action="Index">
    <i class="bi bi-cart"></i> Sepetim
    @if (Model > 0)
    {
        <span class="badge bg-danger">@Model</span>
    }
</a> 